body {
    display: grid;
    grid-template-rows: 50px auto auto 150px;
}

::before, ::after {
    box-sizing: border-box;
}

div {
    width: 100%;
}

.profileImg {
    height: 280px;
    width: 280px;
    object-fit: cover;
    border: 8px;
    border-style: solid;
    border-color: var(--color-complement-3);
    background-color: var(--color-complement-3);
    border-radius: 50%;
    background-size: var(--color-complement-3);
}

.spacer {
    margin-top: 30px;
}

h1 {
    font-size: 32px;
}

p {
    font-size: 22px;
    color: black;
}

.blurb {
    text-align: left;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .profileImg {
        height: 200px;
        width: 200px;
    }

    .title {
        font-size: 26px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }

    .blurb {
        font-size: 16px;
    }

    .card {
        height: 90px;
        width: 90px;
    }

    .cardImg {
        max-height: 60px;
    }

    .card > p {
        font-size: 11px;
    }
}