.nav {
    margin-bottom: 50px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--color-primary-4);
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 50px;
}

nav ul li {
    float: left;
    border: 2px solid var(--color-primary-3);
    border-top: hidden;
    border-bottom: hidden;
    border-left: hidden;
}

.btn {
    display: table-cell;
    height: 50px;
    width: 100px;
    vertical-align: middle;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a.current {
    background-color: var(--color-primary-3);
}

ul li .btn:hover:not(.current) {
    background-color: var(--color-primary-3);
}